@use 'src/themes/variables' as *;

.Button {
  display: flex;
  align-items: center;

  &.btn-secondary {
    min-width: 130px;
    justify-content: center;
    border-radius: 8px;
    background: #F1F2F2 !important;
    border: 0;
    height: 32px;
    padding: 8px 16px;
  }

  &.btn-primary {
    width: 130px;
    justify-content: center;
  }

  &.btn-text {
    padding: 0;
    background: unset !important;
    color: #414042;

    .ant-btn-icon {
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}