@use "src/themes/variables" as *;

// Text color
.text-primary {
  color: $font-color-default;
}

// layout
.padding-page {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

// visual
.hidden {
  display: none;
}

// icon{
.icon-active {
  color: $dark-primary-color;
}
.icon-inactive {
  color: $disabled-color;
}

.ant-col-12 {
  max-width: 100%;
  min-width: 0px;
}
.ant-form-item {
  margin-bottom: 20px;
}
