@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Lexend';
  src: url('../assets/fonts/Lexend-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Lexend';
  src: url('../assets/fonts/Lexend-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Lexend';
  src: url('../assets/fonts/Lexend-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Lexend';
  src: url('../assets/fonts/Lexend-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Lexend';
  src: url('../assets/fonts/Lexend-Bold.ttf');
  font-weight: 700;
}
