.CustomReactQuill {
  .ql-container {
    min-height: 100px;
  }
  .ql-editor {
    overflow: auto;
  }

  &__fixedHeight {
    .ql-container {
      min-height: 100px;
    }
    .ql-editor {
      max-height: 240px;
      overflow: auto;
    }
  }
}
